/* Main CSS Page*/

/* Nav Bar*/
#navBarTop
{
	position: sticky;
	top: 0px;
}
.navColor
{
	background-color: gray;
}

.navRight
{
	float: right;
}

/* Intro CSS */
#introContentSectionOne
{
	text-align: center;
	padding-top: 5%;
	background-image: url("images/introContentBackground.jpg");
	background-position: center;
	background-size: cover;
	margin: 0;
	height: 300px;
}

/* About CSS */
#introductionSectionTwo
{
	background-color: #343a40;
	margin: 0;
	height: 300px;
}

#introParagraphRight
{
	text-align: center;
	font-size: 12pt;
	padding-left: 20%;
}

#introParagraphLeft
{
	text-align: center;
	font-size: 12pt;
	padding-right: 20%;
}

#introParagraphText
{
	color: white;
}

/* Projects CSS */
#projectsSectionThree
{
	background-color: white;
	margin: 0;
	height: 300px;
}

#projectsColumn
{
	text-align: center;
}

#hrH4
{
	color: #000000;
	height: 2px;
}

/* Footer CSS */
#endSectionFour
{
	background-color: #343a40;
	margin: 0;
	height: 40px;
	text-align: center;
	color: white;
	bottom: 0;
}

#footerText
{
	padding-top: 8px;
	margin-bottom: 0;
}